*{ 
    box-sizing: border-box;
}
div{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #eee;
    letter-spacing: 4px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-right: 10px solid #673ab7;
    border-left: 10px solid #f44334;
    position: relative;
}
div::first-letter{
    color: rgb(234, 114, 84)
}
div::before{
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    width: 600px;
    height: 10px;
    background-image: linear-gradient(to right, #f44334 20%, #2297f4 20%, #2297f4 40%, #4caf50 40%, #4caf50 60%, #c91e63 60%, #c91e63 80%, #673ab7 80%, #673ab7 100%); 
}
div::after{
    content: "";
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: 600px;
    height: 10px;
    background-image: linear-gradient(to right, #f44334 20%, #2297f4 20%, #2297f4 40%, #4caf50 40%, #4caf50 60%, #c91e63 60%, #c91e63 80%, #673ab7 80%, #673ab7 100%); 
}
