div{
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 10px auto;
    background-color: #eee;
}
.assign-3-shape-1{
    background-image: url(../imgs/css-assignment-5-8\ \(1\).png);
    background-repeat: no-repeat;
}
.assign-3-shape-2{
    background-image: url(../imgs/css-assignment-5-8\ \(1\).png);
    background-repeat: repeat-y;
    background-position: right;
}
.assign-3-shape-3{
    background-image: url(../imgs/css-assignment-5-8\ \(1\).png);
    background-repeat: repeat-x;
    background-position: bottom;
}
.assign-3-shape-4{
    background-image: url(../imgs/css-assignment-5-8\ \(1\).png);
    background-repeat: repeat;
}
