p{
 width: 400px;
 padding: 20px;
 margin: 20px;
 font-size: 30px;
 background-color: #eee
}
.one{
    border-left: 10px solid #ff00ff ;
}
.three{
    border-left: 10px solid rgba(40, 185, 177, 0.5)
}
.two{
    visibility: hidden;
}
