div{
    background-color: #eee;
    color: black;
    width: 600px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    padding: 40px;
    margin: 30px auto;
    border: 10px solid rgb(255, 166, 0);
    text-align:center;
}
div p{
    border: inherit;
    padding: inherit;

    }
    .two{
        background-color: #eee;
        color: black;
        width: 600px;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: bold;
        padding: 40px;
        margin: 30px auto;
        border: 10px solid rgb(19, 152, 178);
        text-align:center; 
    }
    .two .three{
        border: inherit;
        padding: inherit;

    }